<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<area text="Bienvenue" file="../fr/index.html">
		<submenuitem text="Nouveautés" file="../fr/news.html"/>
	</area>

	<area text="Interface utilisateur" file="../fr/interface.html">
	</area>

	<area text="Gestion des polices" file="../fr/management.html">
		<submenuitem text="Importation de polices" file="../fr/management_importing.html"/>
		<submenuitem text="Utilisation des étiquettes" file="../fr/management_tags.html"/>
	</area>

	<area text="Visualisation des polices" file="../fr/viewing.html">
		<submenuitem text="Aperçu de la police" file="../fr/viewing_overview.html"/>
		<submenuitem text="Exemple de texte" file="../fr/viewing_sample_text.html"/>
		<submenuitem text="Tableau des glyphes" file="../fr/viewing_glyphs_chart.html"/>
	</area>

	<area text="Recherche de polices" file="../fr/search.html">
		<submenuitem text="Recherche de champs de métadonnées génériques" file="../fr/search_in_generic_metadata.html"/>
		<submenuitem text="Recherche par métadonnées PANOSE" file="../fr/search_in_panose.html"/>
		<submenuitem text="Recherche par échantillons bitmap" file="../fr/search_using_bitmap_samples.html"/>
	</area>

	<area text="Comparaisons" file="../fr/comparisons.html">
		<submenuitem text="Comparaison de polices" file="../fr/comparisons_fonts.html"/>
		<submenuitem text="Comparaison de glyphes" file="../fr/comparisons_glyphs.html"/>
	</area>

	<area text="Exportation et impression" file="../fr/output.html">
		<submenuitem text="Exportation de polices" file="../fr/export_fonts.html"/>
		<submenuitem text="Impression de polices" file="../fr/printing_fonts.html"/>
	</area>

	<area text="Catalogues de polices" file="../fr/font_books.html">
		<submenuitem text="Création de catalogues de polices" file="../fr/creating_font_books.html"/>
		<submenuitem text="Création de modèles de catalogues de polices" file="../fr/font_book_templates.html"/>
	</area>

	<area text="Outils additionnels" file="../fr/additional.html">
		<submenuitem text="Vérification de la base de données" file="../fr/additional_db_check.html"/>
		<submenuitem text="Édition des métadonnées PANOSE" file="../fr/additional_editing_panose.html"/>
		<submenuitem text="Affichage des tables TrueType" file="../fr/additional_ttf_tables.html"/>
		<submenuitem text="Extraction de polices à partir de documents" file="../fr/additional_extracting fonts.html"/>
		<submenuitem text="Exportation des informations de police pour l'empaquetage" file="../fr/additional_export_for_packaging.html"/>
	</area>

	<area text="Scripting" file="../fr/scripting.html">
	</area>

	<area text="Configuration" file="../fr/setting_up.html">
		<submenuitem text="Préférences" file="../fr/setting_up_preferences.html">
			<submenuitem text="Général" file="../fr/setting_up_preferences_general.html"/>
			<submenuitem text="Zone de notification" file="../fr/setting_up_preferences_system_tray.html"/>
			<submenuitem text="Affichage" file="../fr/setting_up_preferences_display.html"/>
			<submenuitem text="Service" file="../fr/setting_up_preferences_service.html"/>
			<submenuitem text="Collection d'échantillons" file="../fr/setting_up_preferences_samples_collection.html"/>
			<submenuitem text="Fichiers et dossiers" file="../fr/setting_up_preferences_files_and_folders.html"/>
			<submenuitem text="Raccourcis" file="../fr/setting_up_preferences_shortcuts.html"/>
		</submenuitem>
		<submenuitem text="Options du moteur de mise en page de texte" file="../fr/setting_up_layout_engine_options.html"/>
	</area>

	<area text="Ressources en ligne utiles" file="../fr/resources.html">
	</area>

</menu>
